.alert {
    position: absolute;
    top: 10;
    left: 39.5%;
    width: 20%;
    padding: 5px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    z-index: 1006;
    text-align: center;
    transition: all .4s ease-in-out;
}
  
  .clear {
    clear: both;
  }
  
  .info {
    display:block;
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #999;
  }
  
  .success {
    display:block;
    background-color: rgb(118, 211, 118);
    border: 1px solid #DED;
    color: rgb(16, 56, 16);
  }
  
  .notice {
    display:block;
    background-color: #EFF;
    border: 1px solid #DEE;
    color: #9AA;
  }
  
  .warning {
    display:block;
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
  }
  
  .error {
    display:block;
    background-color: rgb(230, 102, 102);
    border: 1px solid #EDD;
    color: rgb(223, 180, 180);
  }
