// Mixin for adding transition to all properties
@mixin transition-smooth($properties: all, $duration: 0.3s, $timing: ease) {
    transition: $properties $duration $timing;
  }
    
    // Mixin for adding box shadow
    @mixin box-shadow($shadow: 0 2px 4px rgba(0, 0, 0, 0.1)) {
      box-shadow: $shadow;
    }
    
    // Mixin for font style
    @mixin font-style($size: 16px, $weight: 400, $color: var(--primary)) {
      font-size: $size;
      font-weight: $weight;
      color: $color;
    }
    
    // Mixin for flexbox
    @mixin flex($direction: row, $justify: center, $align: center) {
      display: flex;
      flex-direction: $direction;
      justify-content: $justify;
      align-items: $align;
    }
    
    // Mixin for hover effect
    @mixin hover-effect($color: var(--primary)) {
      &:hover {
        background-color: $color;
        color: var(--alpha-secondary);
      }
    }
    